/* MOBILE SCREENS HORIZONTALLY */

@media screen
    and (orientation:landscape)
    and (max-width: 600px) {

        .navbar{
            top: -3em;
            height: 3em;
        }

        .navbar a {
            font-size: .8rem;
        }
        
        .navbar img {
            width: auto;
            height: 40px;
        }

        .personalInfo {
            padding-bottom: 2rem;
        }

        .personalInfo h1 {
            top: 12%;
            font-size: 3rem;
        }

        .personalInfo p {
            bottom: -120%;
            font-size: 1.2rem;
        }

        .heading{
           font-size: 1.4rem;
           padding-left: 1.5rem;
        }
        
        #Projects {
            padding-top: 1rem;
        }
        
        #Contact {
            padding-top: 1rem;
        }

        .skillset {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
        }
        
        
        figure.code-skill {
            text-align: center;
            width: 50px;
        }
        
        .code-skill img {
            width: 50px;
            height: 50px;
        }
        
        .code-skill caption {
            font-size: .8rem;
        }

        .grid1 {
            grid-template-columns: repeat(2, 115px) auto;
            grid-template-rows: repeat(2, 100px);
            padding: 5px 20px 5px 20px;
        }

        .grid2 {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 130px);
            padding: 5px 20px 5px 20px;
        }

        .contact-me input, textarea{
            font-size: 1rem;
          }

          .contact-me h2 {
            padding-left: .5rem;
        }

          .contact-me p {
            font-size: 1rem;
            margin: 2rem;
        }
          
         
          .contact-me label {
            padding: 12px 12px 12px 0;
            font-size: 1rem;
          }

          .col-25 {
            float: left;
            width: 30%;
            margin-top: 6px;
            padding-left: 3rem;
          }
          
          
          .col-75 {
            float: right;
            width: 70%;
            margin-top: 6px;
            padding-right: 2rem;
          }

          .form-button {
            height: 2rem;
            width: 4rem;
            font-size: 1em;
            margin: 2rem auto;
        }

        .contactInfo {
            height: 3em;
        }

        .prof-links img {
            width: 40px;
            height: 40px;
            padding: 5%;
        }

        .signature {
            font-size: .3rem;
        }

        .top-of-page {
            position: fixed;
            right: .4rem;
            bottom: .2rem;
            min-height: 40px; 
            min-width: 40px;
        }

    }

    @media screen
    and (orientation:landscape)
    and (max-width: 700px) {

        .navbar{
            top: -3em;
            height: 3em;
        }

        .navbar a {
            font-size: .8rem;
        }
        
        .navbar img {
            width: auto;
            height: 40px;
        }

        .personalInfo {
            padding-bottom: 2rem;
        }

        .personalInfo h1 {
            top: 15%;
            font-size: 3rem;
        }

        .personalInfo p {
            bottom: -110%;
            font-size: 1.3rem;
        }

        .heading{
           font-size: 1.4rem;
           padding-left: 1.5rem;
        }
        
        #Projects {
            padding-top: 1rem;
        }
        
        #Contact {
            padding-top: 1rem;
        }

        .skillset {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
        }
        
        
        figure.code-skill {
            text-align: center;
            width: 50px;
        }
        
        .code-skill img {
            width: 50px;
            height: 50px;
        }
        
        .code-skill caption {
            font-size: .8rem;
        }

        .grid1 {
            grid-template-columns: repeat(2, 115px) auto;
            grid-template-rows: repeat(2, 100px);
            padding: 5px 20px 5px 20px;
        }

        .grid2 {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 130px);
            padding: 5px 20px 5px 20px;
        }

        .contact-me input, textarea{
            font-size: 1rem;
          }

          .contact-me h2 {
            padding-left: .5rem;
        }

          .contact-me p {
            font-size: 1rem;
            margin: 2rem;
        }
          
         
          .contact-me label {
            padding: 12px 12px 12px 0;
            font-size: 1rem;
          }

          .col-25 {
            float: left;
            width: 30%;
            margin-top: 6px;
            padding-left: 3rem;
          }
          
          
          .col-75 {
            float: right;
            width: 70%;
            margin-top: 6px;
            padding-right: 2rem;
          }

          .form-button {
            height: 2rem;
            width: 4rem;
            font-size: 1em;
            margin: 2rem auto;
        }

        .contactInfo {
            height: 3em;
        }

        .prof-links img {
            width: 40px;
            height: 40px;
            padding: 5%;
        }

        .signature {
            font-size: .3rem;
        }

        .top-of-page {
            position: fixed;
            right: .4rem;
            bottom: .2rem;
            min-height: 40px; 
            min-width: 40px;
        }

    }


    @media screen
    and (orientation:landscape)
    and (max-width: 800px) {

        .navbar{
            top: -4em;
            height: 4em;
        }

        .navbar a {
            font-size: 1rem;
        }
        
        .navbar img {
            width: auto;
            height: 45px;
        }

        .personalInfo {
            padding-bottom: 2rem;
        }

        .personalInfo h1 {
            top: 15%;
            font-size: 4rem;
        }

        .personalInfo p {
            bottom: -110%;
            font-size: 1.5rem;
        }

        .heading{
           font-size: 1.5rem;
           padding-left: 1.8rem;
        }
        
        #Projects {
            padding-top: 1rem;
        }
        
        #Contact {
            padding-top: 1rem;
        }

        .skillset {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
        }
        
        
        figure.code-skill {
            text-align: center;
            width: 50px;
        }
        
        .code-skill img {
            width: 50px;
            height: 50px;
        }
        
        .code-skill caption {
            font-size: .8rem;
        }

        .grid1 {
            grid-template-columns: repeat(2, 115px) auto;
            grid-template-rows: repeat(2, 100px);
            padding: 5px 20px 5px 20px;
        }

        .grid2 {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 130px);
            padding: 5px 20px 5px 20px;
        }

        .contact-me input, textarea{
            font-size: 1rem;
          }

          .contact-me h2 {
            padding-left: .5rem;
        }

          .contact-me p {
            font-size: 1rem;
            margin: 2rem;
        }
          
         
          .contact-me label {
            padding: 12px 12px 12px 0;
            font-size: 1rem;
          }

          .col-25 {
            float: left;
            width: 30%;
            margin-top: 6px;
            padding-left: 3rem;
          }
          
          
          .col-75 {
            float: right;
            width: 70%;
            margin-top: 6px;
            padding-right: 2rem;
          }

          .form-button {
            height: 2rem;
            width: 4rem;
            font-size: 1em;
            margin: 2rem auto;
        }

        .contactInfo {
            height: 4em;
        }

        .prof-links img {
            width: 45px;
            height: 45px;
            padding: 5%;
        }

        .signature {
            font-size: .6rem;
        }

        .top-of-page {
            position: fixed;
            right: .8rem;
            bottom: .5rem;
            min-height: 45px; 
            min-width: 45px;
        }

    }



  /* TABLET SCREENS HORIZONTALLY */