/* MOBILE SCREENS HORIZONTALLY */

    @media screen
    and (orientation:landscape)
    and (max-width: 991px) {


        .navbar{
            height: 9%;
            top: -9%;
        }
        
        .navbar a {
            font-size: 1rem;
        }

        .personalInfo h1 {
            top: 8%;
            font-size: 3rem;
        }

        .personalInfo p {
            width: 50%;
            font-size: 1.2rem;
        }

        .heading{
            font-size: x-large;
        }

        #Skills {
            padding-top: 12%;
            padding-bottom: 5%;
        }
        
        #Projects {
            padding-top: 0%;
            padding-bottom: 10%;
        }
        
        #Contact {
            padding-top: 5%;
        }

        .contact-me input, textarea{
            font-size: 1rem;
          }
        
          .contact-me p {
            font-size: 1.3rem;
        }
          
         
          .contact-me label {
            font-size: 1rem;
          }

          .form-button {
            height: 2.5rem;
            width: 5rem;
            font-size: 1.3em;
        }

        .top-of-page {
            right: 1%;
            bottom: 2%;
        }
        


    }



  /* DESKTOP SCREENS HORIZONTALLY */


    @media screen
    and (orientation:landscape)
    and (min-width: 992px) {

        .navbar{
            height: 9%;
            top: -9%;
        }
        
        .navbar a {
            font-size: 2rem;
        }

        .navbar img {
            height: 60px;
        }

        .personalInfo h1 {
            top: 10%;
            font-size: 5rem;
        }
    
        .personalInfo p {
            font-size: 1.9rem;
        }

        .heading{
            font-size: 2.5rem;
        }
       
    
        #Projects {
            padding-top: 6%;
            padding-bottom: 6%;
        }
        
        #Contact {
            padding-top: 8%;
        }
    
        figure.code-skill {
            font-size: 1.5rem;
            width: 100px;
        }
        
        .code-skill img {
            width: 90px;
            height: 90px;
        }

        .grid1 {
            grid-template-columns: repeat(2, 25%) auto;
            grid-template-rows: repeat(2, 225px);
        }
    
        .grid2 {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 300px);
        }

        .contact-me input, textarea{
            font-size: 1.8rem;
        }
        
        .contact-me p {
            font-size: 2rem;
        }

        .contact-me label {
            font-size: 1.8rem;
        }

        .form-button {
            height: 4rem;
            width: 7.5rem;
            font-size: 1.8em;
        }

        .prof-links img {
            width: 60px;
            height: 60px;
            margin-top: 13%;
            margin-bottom: 13%;
        }
        
        .signature {
            font-size: 1rem;
        }
        
        .top-of-page {
            right: 1.5%;
            bottom: 1.5%;
            min-height: 65px; 
            min-width: 65px;
        }

    }
    

    @media screen
    and (orientation:landscape)
    and (min-width: 1200px){

        .personalInfo h1 {
            top: 10%;
            font-size: 6rem;
        }
    
        .personalInfo p {
            font-size: 2.3rem;
        }

        .heading{
            font-size: 3rem;
        }

        #Skills {
            padding-top: 10%;
            padding-bottom: 5%;
        }
        
        #Projects {
            padding-top: 3%;
            padding-bottom: 10%;
        }
        
        #Contact {
            padding-top: 6%;
        }

        figure.code-skill {
            font-size: 1.8rem;
            width: 115px;
        }
        
        .code-skill img {
            width: 105px;
            height: 105px;
        }

        .grid1 {
            grid-template-columns: repeat(2, 25%) auto;
            grid-template-rows: repeat(2, 270px);
        }
    
        .grid2 {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 330px);
        }

        .contact-me input, textarea{
            font-size: 2rem;
        }
        
        .contact-me p {
            font-size: 2.5rem;
        }

        .contact-me label {
            font-size: 2rem;
        }

        .form-button {
            height: 5rem;
            width: 10rem;
            font-size: 2em;
        }

        .prof-links img {
            width: 60px;
            height: 60px;
            margin-top: 13%;
            margin-bottom: 13%;
        }
        
        .signature {
            font-size: 1.3rem;
        }
        
        .top-of-page {
            right: 1%;
            bottom: 1.5%;
            min-height: 70px; 
            min-width: 70px;
            border: 5px solid rgb(255, 255, 255);
        }

    }

    @media screen
    and (orientation:landscape)
    and (min-width: 1400px) {

        .personalInfo h1 {
            top: 10%;
            font-size: 6.5rem;
        }

        .profilepic{
            min-width: 100%;
         }

         .personalInfo p {
            width: 50%;
            font-size: 2.5rem;
        }

        #Skills {
            padding-top: 12%;
            padding-bottom: 5%;
        }
        
        #Projects {
            padding-top: 0%;
            padding-bottom: 10%;
        }
        
        #Contact {
            padding-top: 5%;
        }
        
        .contact-me p {
            font-size: 3rem;
        }

        .contact-me label {
            font-size: 2.3rem;
        }

        .form-button {
            height: 5.5rem;
            width: 11rem;
            font-size: 2.5em;
        }


    }




  /* @media screen
    and (orientation:landscape)
    and (max-width: 1100px)
    and (min-height: 750px){

        .navbar{
            height: 6em;
            top: -6em;
        }

        .navbar a {
            font-size: 1.6rem;
        }

        .navbar img {
            width: auto;
            height: 70px;
        }

        .personalInfo h1 {
            top: 8%;
            font-size: 6.5rem;
        }

        .personalInfo p {
            bottom: -65%;
            width: 60%;
            font-size: 2.3rem;
        
        }

        .heading{
            padding-left: 2.5rem;
            font-size: 2.5rem;
        }

        .skillset {
            display: flex;
           flex-wrap: wrap;
        }

        figure.code-skill {
            text-align: center;
            width: 100px;
            font-size: 1.5rem;
        }
        
        .code-skill img {
            width: 100px;
            height: 100px;
        }

        .grid1 {
            display: grid;
            grid-template-columns: repeat(2, 280px) auto;
            grid-template-rows: repeat(2, 265px);
            gap: 10px 10px;
            padding: 5px 30px 5px 30px;
        }

        .grid2 {
            display: grid;
            grid-template-columns: repeat(2, 470px) auto;
            grid-template-rows: repeat(2, 265px);
            gap: 10px 10px;
            padding: 5px 30px 5px 30px;
        }

        .contact-me input, textarea{
            font-size: 1.5rem;
          }

        
        .contact-me p {
            font-size: 1.5rem;
        }

        .contact-me label {
            padding: 12px 5px 12px 0;
            display: inline-block;
            font-size: 1.3rem;
          }

        .col-25 {
            float: left;
            width: 25%;
            padding-left: 8rem;
          }
          
          
          .col-75 {
            float: right;
            width: 75%;
            margin-top: 6px;
          }

          .form-button {
            height: 3rem;
            width: 6.5rem;
            font-size: 2em;
        }

        .contactInfo {
            height: 6em;
        }

        .prof-links img {
            width: 70px;
            height: 70px;
            padding: 5%;
        }
        
        .signature {
            font-size: 1rem;
        }

        .top-of-page {
            right: .5rem;
            bottom: .8rem;
            min-height: 70px; 
            min-width: 70px;
        }

    }

    @media screen
    and (orientation:landscape)
    and (max-width: 1300px)
    and (min-height: 800px)  {

        .personalInfo p {
            bottom: -65%;
            width: 60%;
            font-size: 2.5rem;
        
        }

        .heading{
            padding-left: 2.5rem;
            font-size: 2.5rem;
        }

        .skillset {
            display: flex;
            flex-wrap: wrap;
        }

        figure.code-skill {
            text-align: center;
            width: 200px;
            font-size: 1.5rem;
        }
        
        .code-skill img {
            width: 100px;
            height: 100px;
        }

        .grid1 {
            display: grid;
            grid-template-columns: repeat(2, 280px) auto;
            grid-template-rows: repeat(2, 285px);
            gap: 10px 10px;
            padding: 5px 30px 5px 30px;
        }

        .grid2 {
            display: grid;
            grid-template-columns: repeat(2, 515px) auto;
            grid-template-rows: repeat(2, 300px);
            gap: 10px 10px;
            padding: 5px 30px 5px 30px;
        }

        .contact-me input, textarea{
            font-size: 1.5rem;
          }

        
        .contact-me p {
            font-size: 1.5rem;
        }

        .contact-me label {
            padding: 12px 5px 12px 0;
            display: inline-block;
            font-size: 1.3rem;
          }

        .col-25 {
            float: left;
            width: 25%;
            padding-left: 8rem;
          }
          
          
          .col-75 {
            float: right;
            width: 75%;
            margin-top: 6px;
          }

          .form-button {
            height: 3rem;
            width: 6.5rem;
            font-size: 2em;
        }

        .contactInfo {
            height: 6em;
        }

        .prof-links img {
            width: 70px;
            height: 70px;
            padding: 5%;
        }
        
        .signature {
            font-size: 1rem;
        }

        .top-of-page {
            right: .5rem;
            bottom: .8rem;
            min-height: 70px; 
            min-width: 70px;
        }

    }


    @media screen
    and (orientation:landscape)
    and (min-width: 1300px)
    and (min-height: 1000px)
     {

        .navbar{
            height: 7em;
            top: -7em;
        }

        .navbar a {
            font-size: 2rem;
        }

        .navbar img {
            width: auto;
            height: 80px;
        }

        .personalInfo h1 {
            top: 5%;
            font-size: 10rem;
        }

        .personalInfo p {
            bottom: -65%;
            width: 60%;
            font-size: 3rem;
        
        }

        .heading{
            padding-left: 2.5rem;
            font-size: 3rem;
        }

        .skillset {
            display: flex;
            flex-wrap: wrap;
        }

        figure.code-skill {
            text-align: center;
            width: 300px;
            font-size: 2rem;
        }
        
        .code-skill img {
            width: 150px;
            height: 150px;
        }

        .grid1 {
            grid-template-columns: repeat(2, 300px) auto;
            grid-template-rows: repeat(2, 300px);
        }

        .grid2 {
            grid-template-columns: repeat(2, 640px) auto;
            grid-template-rows: repeat(2, 400px);
        }

        .contact-me input, textarea{
            font-size: 2rem;
          }

        
        .contact-me p {
            font-size: 2rem;
            margin: 7rem;
        }

        .contact-me label {
            font-size: 2rem;
          }

        .col-25 {
            float: left;
            width: 25%;
            padding-left: 8rem;
          }
          
          
          .col-75 {
            float: right;
            width: 75%;
            margin-top: 6px;
          }

          .form-button {
            height: 4rem;
            width: 8rem;
            font-size: 2.4em;
            margin: 3rem auto;
        }

        .contactInfo {
            height: 7em;
        }

        .prof-links img {
            width: 80px;
            height: 80px;
            padding: 5%;
        }
        
        .signature {
            font-size: 1.3rem;
        }

        .top-of-page {
            right: .8rem;
            bottom: 1rem;
            min-height: 80px; 
            min-width: 80px;
        }

    } */