/* MOBILE PHONE SCREENS VERTICALLY */

@media screen
and (max-width: 481px) {
    
    .personalInfo {
        padding-bottom: 0;
    }
    
    .personalInfo h1 {
        top: 25%;
        font-size: 2.5rem;
    }
    .personalInfo p {
        font-size: .8rem;
        bottom: 30%;
    }

    .heading {
        padding: 0;
    }

    #Skills {
        text-align: center;
        padding-top: 3.5rem;
        padding-bottom: 3rem;
    }

    .skillset {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    #Projects {
        text-align: center;
        padding-top: 1rem;
    }

    .grid1 {
        grid-template-columns: repeat(2, 65px) auto;
        grid-template-rows: repeat(2, 120px);

    }
    
    .grid2 {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 150px);
    }
    
    #Contact {
        text-align: center;
        padding-top: 1rem;
    }

    .contact-me {
        margin-bottom: 2rem;
        width: auto;
    }

    .contact-me input, textarea{
        width: 50%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
        resize: vertical;
        font-size: 1rem;
      }
    
      .contact-me p {
        font-size: 1rem;
        text-align: center;
        margin: 2.5rem;
    }
      
      .contact-me label {
        padding: 7px 12px 10px 0;
        display: inline-block;
        font-size: 1rem;
        text-align: left;
      }

      .contact-me textarea {
        height: 2em;
        margin-top: 1px;
      }
      
      .contact-me  {
        border-radius: 5px;
        padding: 20px;
      }
      
      .col-25 {
        float: left;
        width: 15%;
        padding-left: 3rem;
      }
      
    
      .col-75 {
        float: left;
        width: 85%;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    
    
    .form-button {
        height: 2rem;
        width: 4rem;
        background-color: red;
        color: white;
        font-size: 1em;
        margin: rem auto;
        display: block;
        border: none;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .prof-links img {
        width: 40px;
        height: 40px;
        padding: 5%;
    }
   
    .signature {
        font-size: 8px;
    }

    .top-of-page {
        right: .5rem;
        bottom: .5rem;
        min-height: 50px; 
        min-width: 50px;
    }
  }

  @media screen
and (max-width: 370px) {

    .navbar a {
        font-size: .8em;
    }

    .navbar img {
        height: 50px;
    }

    .personalInfo h1 {
        top: 25%;
        font-size: 1.5rem
    }
    .personalInfo p {
        font-size: .7rem;
        bottom: 35%;
    }

    .col-25 {
        float: left;
        width: 20%;
        padding-left: 1rem;
      }
      
    
      .col-75 {
        float: right;
        width: 80%;
      }

      .top-of-page {
        position: fixed;
        right: .1rem;
        bottom: 1.2rem;
        min-height: 40px; 
        min-width: 40px;

    }
}


/* TABLET SCREENS VERTICALLY */


@media screen
and (max-width: 800px) 
and (min-height: 1000px) {


    .navbar a {
        font-size: 1.5em;
    }

    .personalInfo h1 {
        top: 10%;
        font-size: 4rem;
    }

    .personalInfo p {
        font-size: 1.8rem;
        bottom: 5%;
    }

    .skillset {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    figure.code-skill {
        text-align: center;
        width: 100px;
    }

    .code-skill img {
        width: 110px;
        height: 110px;
    }

    .code-skill figcaption {
        font-size: 1.5rem;
    }

    .grid1 {
        grid-template-columns: repeat(2, 165px) auto;
        grid-template-rows: repeat(2, 150px);
        gap: 10px 10px;
        padding: 20px 30px 20px 30px;
    }
    
    .grid2 {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 180px);
        gap: 10px 10px;
        padding: 20px 30px 20px 30px;
    }

    .contact-me input, textarea{
        width: 100%;
        border: 2px solid #ccc;
      }

      .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
        padding-left: 3rem;
      }
      
      
      .col-75 {
        float: left;
        width: 65%;
        margin-top: 6px;
      }

      .top-of-page {
        position: fixed;
        right: 1rem;
        bottom: .5rem;
        min-height: 60px; 
        min-width: 60px;
    }
}

@media screen
and (max-width: 900px) 
and (min-height: 1100px) {

    .navbar a {
        font-size: 2rem;
    }

    .personalInfo h1 {
        top: 7%;
        font-size: 5rem;
      
    }

    .personalInfo p {
        bottom: 8%;
        font-size: 1.8rem;
    
    }

    .heading{
        padding-left: 2rem;
        font-size: 2.5rem
    }

    .skillset {
        display: flex;
        flex-wrap: wrap;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    
    figure.code-skill {
        text-align: center;
        width: 150px;
    }
    
    .code-skill img {
        width: 150px;
        height: 150px;
    }
    
    .code-skill figcaption {
        font-size: 1.5rem;
    }

    .grid1 {
        grid-template-columns: repeat(2, 205px) auto;
        grid-template-rows: repeat(2, 210px);
        gap: 15px 15px;
        padding: 20px 30px 20px 30px;
    }
    
    .grid2 {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 280px);
        gap: 15px 15px;
        padding: 20px 30px 20px 30px;
    }

    .contact-me input, textarea{
        width: 100%;
        border: 2px solid #ccc;
      }

      .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
        padding-left: 3rem;
      }
      
      
      .col-75 {
        float: left;
        width: 65%;
        margin-top: 6px;
      }

      .top-of-page {
        position: fixed;
        right: .8rem;
        bottom: .5rem;
        min-height: 60px; 
        min-width: 60px;
    }

}

@media screen
and (max-width: 1100px) 
and (min-height:1300px) {

    .navbar a {
        font-size: 2rem;
    }

    .personalInfo h1 {
        top: 6%;
        font-size: 7rem;
      
    }

    .personalInfo p {
        bottom: 8%;
        font-size: 2.3rem;
    
    }

    .heading{
        padding-left: 2rem;
        font-size: 2.5rem
    }

    .skillset {
        display: flex;
        flex-wrap: wrap;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    
    
    figure.code-skill {
        text-align: center;
        width: 180px;
    }
    
    .code-skill img {
        width: 180px;
        height: 180px;
    }
    
    .code-skill figcaption {
        font-size: 2rem;
    }

    .grid1 {
        grid-template-columns: repeat(2, 205px) auto;
        grid-template-rows: repeat(2, 210px);
        gap: 15px 15px;
        padding: 20px 30px 20px 30px;
    }
    
    .grid2 {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 280px);
        gap: 15px 15px;
        padding: 20px 30px 20px 30px;
    }

    .contact-me input, textarea{
        width: 100%;
        border: 2px solid #ccc;
      }

      .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
        padding-left: 3rem;
      }
      
      
      .col-75 {
        float: left;
        width: 65%;
        margin-top: 6px;
      }

      .contact-me p {
        font-size: 2rem;
    }
      
     
      .contact-me label {
        font-size: 2rem;
      }

      .top-of-page {
        position: fixed;
        right: .8rem;
        bottom: .5rem;
        min-height: 60px; 
        min-width: 60px;
    }

}

/* DESKTOP SCREENS HORIZONTALLY */

    @media screen
    and (max-width: 800px) 
    and (min-height: 580px) {
        
        .navbar a {
            font-size: 1.4rem;
        }

        .personalInfo h1 {
            top: 5%;
            font-size: 4rem;
        }

        .personalInfo p {
            bottom: 10%;
            width: 60%;
            font-size: 1.3rem;
        
        }

        .skillset {
            display: flex;
            flex-wrap: wrap;
        }

        .grid1 {
            grid-template-columns: repeat(2, 150px) auto;
            grid-template-rows: repeat(2, 100px);
        }

        .grid2 {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 150px);
        }

        .contact-me input, textarea{
            font-size: 1.2rem;
          }

        .contact-me label {
            font-size: 1.2rem;
        }

        .col-25 {
            width: 25%;
            padding-left: 2rem;
          }
          
          .col-75 {
            float: right;
            width: 75%;
          }

          .form-button {
            height: 3rem;
            width: 6rem;
            font-size: 1.7em;
        }

        .prof-links img {
            width: 55px;
            height: 60px;
            padding: 5%;
        }

        .top-of-page {
            right: 1rem;
            bottom: .5rem;
            min-height: 55px; 
            min-width: 55px;
        }

    }



/* MOBILE SCREENS HORIZONTALLY */

@media screen
    and (orientation:landscape)
    and (max-width: 600px) {

        .navbar{
            top: -3em;
            height: 3em;
        }

        .navbar a {
            font-size: .8rem;
        }
        
        .navbar img {
            width: auto;
            height: 40px;
        }

        .personalInfo {
            padding-bottom: 2rem;
        }

        .personalInfo h1 {
            top: 12%;
            font-size: 3rem;
        }

        .personalInfo p {
            bottom: -120%;
            font-size: 1.2rem;
        }

        .heading{
           font-size: 1.4rem;
           padding-left: 1.5rem;
        }
        
        #Projects {
            padding-top: 1rem;
        }
        
        #Contact {
            padding-top: 1rem;
        }

        .skillset {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 2rem;
        }
        
        
        figure.code-skill {
            text-align: center;
            width: 50px;
        }
        
        .code-skill img {
            width: 50px;
            height: 50px;
        }
        
        .code-skill caption {
            font-size: .8rem;
        }

        .grid1 {
            grid-template-columns: repeat(2, 115px) auto;
            grid-template-rows: repeat(2, 100px);
            padding: 5px 20px 5px 20px;
        }

        .grid2 {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, 130px);
            padding: 5px 20px 5px 20px;
        }

        .contact-me input, textarea{
            font-size: 1rem;
          }

          .contact-me h2 {
            padding-left: .5rem;
        }

          .contact-me p {
            font-size: 1rem;
            margin: 2rem;
        }
          
         
          .contact-me label {
            padding: 12px 12px 12px 0;
            font-size: 1rem;
          }

          .col-25 {
            float: left;
            width: 30%;
            margin-top: 6px;
            padding-left: 3rem;
          }
          
          
          .col-75 {
            float: right;
            width: 70%;
            margin-top: 6px;
            padding-right: 2rem;
          }

          .form-button {
            height: 2rem;
            width: 4rem;
            font-size: 1em;
            margin: 2rem auto;
        }

        .contactInfo {
            height: 3em;
        }

        .prof-links img {
            width: 40px;
            height: 40px;
            padding: 5%;
        }

        .signature {
            font-size: .3rem;
        }

        .top-of-page {
            position: fixed;
            right: .4rem;
            bottom: .2rem;
            min-height: 40px; 
            min-width: 40px;
        }

    }


  /* TABLET SCREENS HORIZONTALLY */